.content-wrapper-hocphi {
    display: flex;
    justify-content: center;
}
.content-hocphi {
    width: 100%;
    margin-top: 20px;
    text-align: left;
    padding-left: 20%;
    padding-right: 5%;
    position: relative;
}

.responsive-logo-hocphi{
    max-width: 100%;
    height: auto;
}

.title-pay01{
    font-size: 20px;
    color: #3c763d;
}

.title-information01{
    font-size: 20px;
}
.title-sinhvien01{
    font-size: 15px;
}
.input-masv01{
    padding: 10px; /* Khoảng cách giữa viền và văn bản bên trong input */
    border: 1px solid #ccc; /* Viền của input */
    border-radius: 5px; /* Bo tròn các góc của input */
    font-size: 16px; /* Kích thước chữ của input */
    outline: none; /* Loại bỏ viền focus khi click vào input */
    width: 80%;
}

/* Tùy chỉnh style khi input được focus */
.input-masv01:focus {
    border-color: #007bff; /* Màu viền khi input được focus */
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25); /* Hiển thị shadow khi input được focus */
}

.parent-btn-thanhtoan01{
    padding-top: 1%;
}

.btn-thanhtoan01{
    margin-right: 2%;
    margin-left: auto; /* Đặt nút đăng nhập ở cuối dòng */
    padding: 10px 20px; /* Định dạng kích thước của nút */
    background-color: #a50d27; /* Màu nền của nút */
    color: #ffffff; /* Màu văn bản của nút */
    border: none; /* Loại bỏ viền của nút */
    border-radius: 5px; /* Bo tròn góc của nút */
    cursor: pointer; /* Biến con trỏ thành dấu nhấn khi di chuột qua nút */
    font-weight: bold;
    white-space: nowrap;
}

.footer-information01{
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 80%;
    margin-top: 1%;
}
.text-info01{
    color: #31708f;
}
.notificationMa01{
    color: red;
    font-size: 15px;
    margin-top: 1%;
}