.line-pagination{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pagination {
    display: inline-block;
    padding:20px 0px 20px 0px;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }


.pagination a.active {
    background-color:  #D30000;
    color: white;
  }
  
.pagination a:hover:not(.active) {background-color: #ddd;}

.btn-disable-page{
  pointer-events: none;
}