.titlepage
{
  margin-top: 1vw;
  margin-left: 2vw;
  font-size: 1.8vw;
  font-weight: bold;
}
.cartFull-036 {
  
    position: fixed;
    top: 10vw;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F5F5FA; /* Màu xám cho nền bọc bên ngoài */
    overflow: auto;
  
  }
  .cartBackground-036 {
    margin-top: 0.5vw; /* Thụt vào 0.5vw ở phía trên */
    margin-left: 2vw; /* Thụt vào 2vw ở phía bên trái */
    margin-right: 2vw; /* Thụt vào 2vw ở phía bên phải */
    background-color: #fff; /* Màu xám cho nền bọc bên ngoài */
  }
/*cart 1*/
.cart-1-036 {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
   /* Khoảng cách giữa nội dung và khung */
  }
  .cart-1-left {
    flex: 1; /* Phần trái chiếm 50% */
    display: flex; /* Hiển thị các phần tử bên trong theo chiều ngang */
    justify-content: center; /* Căn giữa theo chiều ngang */

  }
  .cart-1-left p {
    margin-right: 1vw; /* Khoảng cách giữa thẻ p và combobox */
    margin-top: 1vw;
    font-size: 1.5vw;
    align-items: center; /* Căn giữa theo chiều dọc */
  }
  .cart-1-left label {
    margin-right: 1vw; /* Khoảng cách giữa thẻ p và combobox */
    margin-top: 1vw;
    margin-left: 1vw;
    font-size: 1.5vw;
    align-items: center; /* Căn giữa theo chiều dọc */
    white-space: nowrap;
  }
  .cart-1-right {
    flex: 1; /* Phần phải chiếm 50% */
    display: flex; /* Hiển thị các phần tử bên trong theo chiều ngang */
    justify-content: center; /* Căn giữa theo chiều ngang */

  }
  .cart-1-select {
    width: 20vw; /* Đặt chiều rộng của combobox */
    height: 3vw; 
    max-width: 20vw;
    max-height: 3vw;
    font-size: 1.3vw; /* Kích thước chữ */
    border-radius: 1vw; /* Bo tròn viền */
    border: 0.1vw solid #ccc; /* Viền */
    margin-top: 0.5 vw;

  }
  .trangthaihocphi{
    width: 10vw; /* Đặt chiều rộng của combobox */
    height: 3vw; 
    max-width: 10vw;
    max-height: 3vw;
    font-size: 1.3vw; /* Kích thước chữ */
    border-radius: 1vw; /* Bo tròn viền */
    border: 0.1vw solid #ccc; /* Viền */
    margin-top: 0.5 vw;
    margin-left: 2vw;
  }
  .cart-1-036 button {
    width: 10vw; /* Chiều rộng của button */
    height: 3.5vw; /* Chiều cao của button */
    padding: 0; /* Loại bỏ padding để kích thước button được cố định */
    font-size: 1vw;
    background-color: #D30000; /* Màu nền đỏ */
    color: white; /* Màu chữ trắng */
    border: none; /* Loại bỏ viền */
    align-items: center; /* Căn giữa theo chiều dọc */
    border-radius: 3vw;
    cursor: pointer; /* Con trỏ chuột khi rê chuột vào button */
  }
  
  .cart-1-036 button + button {
    margin-left: 2.5vw; /* Khoảng cách giữa các button */
  }
  
  