.container-wrapper-nhapdiem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.container-nhapdiem {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.label-nhapdiem {
    margin-right: 10px;     
    font-weight: bold;
    white-space: nowrap;
}

.select-nhapdiem {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: auto;
    font-size: 15px;
}

.div-nhapdiem {
    display: flex;
    align-items: center;
}

.btn-taidssinhvien-nhapdiem{
    margin-right: 2%;
    margin-left: auto; 
    padding: 10px 20px; 
    background-color: #a50d27; 
    color: #ffffff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: bold;
    white-space: nowrap;
}