
.header{
    width: 100%;
    margin-top: 20px;
}

.logo-container {
    width: 60%;
}

.responsive-logo {
    max-width: 100%;
    height: auto;
    /* position: relative; */
}
.horizontal-line {
    height: 45px; /* Đặt chiều cao của đường ngang */
    background-color: rgb(228, 12, 12); /* Đặt màu sắc của đường ngang */
    width: 100%; /* Chiều rộng của đường ngang là 100% của màn hình */
    display: flex; /* Sử dụng flexbox để căn chỉnh nút đăng nhập */
    align-items: center; /* Canh nút đăng nhập vào giữa chiều cao của đường ngang */
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.header-name{
    position: relative;
    color: white;
    text-align: center;
    padding-left: 25%;
}

.login-button {
    margin-right: 2%;
    margin-left: auto; /* Đặt nút đăng nhập ở cuối dòng */
    padding: 10px 20px; /* Định dạng kích thước của nút */
    background-color: #a50d27; /* Màu nền của nút */
    color: #ffffff; /* Màu văn bản của nút */
    border: none; /* Loại bỏ viền của nút */
    border-radius: 5px; /* Bo tròn góc của nút */
    cursor: pointer; /* Biến con trỏ thành dấu nhấn khi di chuột qua nút */
    font-weight: bold;
    white-space: nowrap;
}
.container-header {
  display: flex;
  align-items: center;
  height: 6vw;
}

.image-header {
  height: 5vw;
  width: 5vw;
  margin-left: 20vw; /* Khoảng cách 20px với phần tử bên phải */
  margin-right: 5vw; 

}

.text-container-header {
   /* Chia tỷ lệ dựa trên khoảng trống còn lại */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-line-header,
.second-line-header {
  text-align: center;
  margin-bottom: 0.5vw;
  margin-top: 0.5vw;
  font-size: 1.5vw;
}


