.student-info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 10%;
}

.content-1 {
    flex: 1;
}
.info {
    flex: 1;
    padding: 20px;
}

.student-info {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 90%;
}

.course-info {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 90%;
}

.content-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

h2 {
    margin-bottom: 20px;
}

.info-row {
    display: flex;
    margin-bottom: 10px;
}

.info-label {
    flex: 2;
    font-weight: bold;
}

.info-value {
    flex: 2;
}

.student-image-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.student-image {
    max-width: 50%;
    max-height: 50%;
}