.card{
    display: flex;
    padding: 20px;
    background: #fff;
    max-width: 1400px;
    min-width: 850px;
    min-height: 600px;
    margin: auto;
}



.btn-submit{
    background-color: #D30000;
    border-radius: 15%;
    width: 65px;
    height: 50px;
    display: flex;
    align-items: end;
}

.btn-submit img {
    width: 40px;
    height: 40px;
}

.background-theme {
    background-color: gray;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.card .loginFrom {
    width: 50%;
}
.card .brand {
    width: 50%;
    background-color: #D30000;
    text-align: center;
}
/* .loginFrom {
       
} */

.card-1 {
    border: 2px solid black;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

.form-control {
    width: 80%;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

.brand img {
    width: 150px;
    height: 150px;
    margin-top: 10%;
}